/* Style Guide */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');
* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
}

:root {
  --primary1: #495e57;
  --primary2: #f4ce14;
  --secondary1: #ee9972;
  --secondary2: #fbdabb;
  --secondary3: #edefee;
  --secondary4: #333333;
  --headingfont: 'Markazi Text', serif;
  --paragraphfont: 'Karla', sans-serif;
}

h1 {
  font-size: 64px;
 
  color: var(--primary2);
  
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingfont);
}
h2 {
  font-size: 40px;
  font-family: var(--headingfont);
}
h2.subtitle {
  color: var(--secondary3);
}
p {
  font-size: 16px;
  font-family: var(--paragraphfont);
  
}
button.btn {
  height: 60px;
  width: 200px;
  border: none;
  border-radius: 16px;
  background-color: #f4ce14;
  cursor:pointer;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p.banner-text {
  color: var(--secondary3);
}


.navbar a {
  text-decoration: none;
  color: var(--secondary4);
  font-size: 16px;
}

.specials {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.testimonials {
  background-color: #fbdabb;
  padding-block: 100px;
}
.testimonials h2 {
  text-align: center;

}

/* booking page */
input, select {
  border: 1px solid var(--secondary4);
  border-radius: 5px;
  padding: 5px;
  width: 300px;
}
.form-item {
  margin: 0 auto;
  margin-bottom: 20px;
}
.form-item label {
  padding-right: 20px;
}

.bookingform {
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
  display: grid;
  justify-content: center;

  
}

.bookingformheader {
  text-align: center;
}
.submit {
  border: none;
  border-radius: 16px;
  background-color: #f4ce14;
  padding: 10px;
  width: 100%;
  /* cursor: not-allowed; */
}

div.error {
  color: red;
}

.confirmed-booking {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
}

@media screen and (max-width: 768px) {
  .flex {
    padding-inline: 20px;
  }
  
  .nav-logo {
    padding-left: 20px;
    align-self: center;
  }
  .hamburger {
    padding-right: 20px;
    font-size: larger;
  }
  .navbar-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-block: 20px;
  }
 
  .navbar {
    position: absolute;
    margin-top: 50px;
    
    width: 100%;
    z-index: 9999;
    background-color: var(--secondary1);
    display: none;
    padding-block: 50px;
    
  }
  .open {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  

}
@media  screen and (min-width: 1024px) {
  .wrapper {
    padding-inline: 200px;
  }
  .navbar-main {
    display: flex;
    align-items: center;
    padding: 20px 200px;
  }
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    display: none;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    margin-left: 20px;
  }
  
}
